html,body{
    height: 100%;
    }
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }
#container{
    display: flex;
    flex-wrap: wrap;
    width:300px;
    border: 1px solid black;
    }
.belka{
    height: 25px;
    width: 25px;
    background: blue;
    background: linear-gradient(top right, #00f,#008);
    background: -moz-linear-gradient(top right, #00f,#008);
    background: -o-linear-gradient(top right, #00f,#008);
    background: -webkit-linear-gradient(top right, #00f,#008);
    background: -ms-linear-gradient(top right, #00f,#008);
    }
.strelka{
    height: 25px;
    width: 25px;
    background-color: white;
    text-align: center;
    }
.zelka{
    height: 25px;
    width: 25px;
    background: red;
    background: radial-gradient(center, #00f,#800);
    background: -moz-radial-gradient(center, #f00,#800);
    background: -o-radial-gradient(center, #f00,#800);
    background: -webkit-radial-gradient(center, #f00,#800);
    background: -ms-radial-gradient(center, #f00,#800);
    }
#tablo{ display: flex;
    flex-wrap: wrap;
    width:300px;
    border: 2px solid green;
    height: 40px;
    background: blue;
}
#message{
    height: 60%;
    width: 70%;
    color: red;
    font-size: 25px;
}
#openCell{
    height: 40%;
    width: 30%;
    color: greenyellow;
}
#vesIkran{ display: flex;
    flex-wrap: wrap;
    width:302px;
    height: 50px;
    height: 123px;
}
#vesIkran,#tablo{ display: flex;
    justify-content: center;
}
#recurs{
    background: red;
    color: aqua;
    width: 60px;
    height: 60px;
}
#recurs2{
    background: gray;
    color: aqua;
    width: 60px;
    height: 60px;
}
#probel{
    width: 50px;
}
#niz{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 80px;
}